@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/*General Pages*/
* {
    margin: 0;
    padding: 0;
}
#mainPages {
    margin-top: 145px;
}

/*Shop*/

.shopGeneral {
    --bs-gutter-x:0 !important;
}

.catShop {
    height: 400px;
}

.image-container {
    position: relative;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3aa756; /* Color deseado */
    opacity: 0.; /* Ajusta la opacidad según sea necesario */
    z-index: 0; /* Coloca la capa de color detrás de la imagen */
  }
  
  .title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color del texto según sea necesario */
    font-size: 50px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-family: "Raleway", sans-serif;
  }
  
  .css-button-fully-rounded--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #d90429;
    background: #d90429 ;
  }
  .css-button-fully-rounded--red:hover {
    background: #fff !important;
    color: #d90429  !important;
  }

  .css-button-fully-rounded--red a:hover {
    color: #d90429 !important;
  }
.imgTitle {
    height: 150px;
    object-fit: cover;
}

.imgCarouselCat {
  background-color: #3aa756; /* Color deseado */
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
    object-fit: cover;
    height: 300px;
}

.imgCat {
  border: solid;
  border-color: #d90429;
}

.contentCategories {
  position: relative;
  bottom: 80px;
}

.custom-btn {
  background-color: black;
  color: white;
}




/*DESCRIPTION PRODUCTS*/

.contentProduct {
  font-family: "Raleway", sans-serif;
}

/*Murals*/

.imgMuralOne {
  background-attachment: fixed;
  background-image: url(/img/murals/4/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% center;
  height: 84vh;
}

.imgMuralTwo {

  background-attachment: fixed;
  background-image: url(/img/murals/1/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  scale: 1;
  height: 84vh;

}

.imgMuralThree {
  background-attachment: fixed;
  background-image: url(/img/murals/3/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  scale: 1;
  height: 84vh;

  
}

.imgMuralFour {
  background-attachment: fixed;
  background-image: url(/img/murals/2/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  scale: 1;
  height: 84vh;
}

.imgMuralFive {
  background-attachment: fixed;
  background-image: url(/img/murals/5/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% center;
  height: 84vh;
}

.descriptionProduct {
  text-align: justify;
}

.btnFbProduct {
  background-color: #2b0dad !important;
}

.btnIgProduct {
  background-color: #710886 !important;
}

/*Medias queries*/

@media (min-width:320px) and (max-width:520px) {
    #mainPages {
        margin-top: 95px;
    }
}

@media (min-width:521px) and (max-width:768px) {
    #mainPages {
        margin-top: 97px;
    }
}