@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/*General Pages*/
* {
    margin: 0;
    padding: 0;
}
#mainPages {
    margin-top: 145px;
}

/*Shop*/

.shopGeneral {
    --bs-gutter-x:0 !important;
}

.catShop {
    height: 400px;
}

.image-container {
    position: relative;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3aa756; /* Color deseado */
    opacity: 0.; /* Ajusta la opacidad según sea necesario */
    z-index: 0; /* Coloca la capa de color detrás de la imagen */
  }
  
  .title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color del texto según sea necesario */
    font-size: 50px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-family: "Raleway", sans-serif;
  }
  
.imgTitle {
    height: 150px;
    object-fit: cover;
}

.imgCarouselCat {
  background-color: #3aa756; /* Color deseado */
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
    object-fit: cover;
    height: 300px;
}

.imgCat {
  border: solid;
  border-color: #d90429;
}

.contentCategories {
  position: relative;
  bottom: 80px;
}





/*DESCRIPTION PRODUCTS*/

.contentProduct {
  font-family: "Raleway", sans-serif;
}

.contentProduct h2 {
  font-weight: 600;
  font-size: 64px;
}

/* .productsCarousel {
  margin-bottom: 120px;
} */

/*Carousel*/
.scrollable-container {
  white-space: nowrap; /* Evita el retorno de línea */
  overflow-x: auto; /* Agrega la barra de desplazamiento horizontal */
  display: flex; /* Hace que los elementos hijos se muestren en una fila */
}

.scrollable-container img {
  max-width: 100%; /* Asegura que las imágenes no superen el ancho del contenedor */
  height: 200px;
  width: 300px; /* Mantiene la proporción de aspecto de las imágenes */
  margin-right: 10px; /* Añade un espacio entre las imágenes (puedes ajustar según sea necesario) */ 
  }

  .expandable-img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .expanded-img-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  




/*Murals*/

.imgMuralOne {
  background-image: url(/img/murals/4/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgMuralTwo {
  background-image: url(/img/murals/1/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

.imgMuralThree {
  background-image: url(/img/murals/3/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

  
}

.imgMuralFour {
  background-image: url(/img/murals/2/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgMuralFive {
  background-image: url(/img/murals/5/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgMuralSix {
  background-image: url(/img/murals/6/2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgMuralSeven {
  background-image: url(/img/murals/7/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgMuralEight {
  background-image: url(/img/murals/8/5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgMuralNine {
  background-image: url(/img/murals/9/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.descriptionProduct {
  text-align: justify;
}

.btnFbProduct {
  background-color: #2b0dad !important;
}

.btnIgProduct {
  background-color: #710886 !important;
}

/*Ilustrations*/
.image-containerIlus {
  position: relative;
}

.image-containerIlus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d90429; /* Color deseado */
  opacity: 0.; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
}


.imgCarouselIlus {
  background-color: #d90429; /* Color deseado */
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
    object-fit: cover;
    height: 300px;
}

/*IlustrationsIMG*/
.imgIlusOne {
  background-image: url(/img/ilustrations/1/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusTwo {
  background-image: url(/img/ilustrations/2/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusThree {
  background-image: url(/img/ilustrations/3/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusFour {
  background-image: url(/img/ilustrations/4/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusFive {
  background-image: url(/img/ilustrations/5/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusSix {
  background-image: url(/img/ilustrations/6/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusSeven {
  background-image: url(/img/ilustrations/7/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusEight {
  background-image: url(/img/ilustrations/8/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusNine {
  background-image: url(/img/ilustrations/9/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgIlusTen {
  background-image: url(/img/ilustrations/10/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/*Paintings*/

.image-containerPaint {
  position: relative;
}

.image-containerPaint::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fabc2d; /* Color deseado */
  opacity: 0.; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
}


.imgCarouselPaint {
  background-color: #fabc2d; /* Color deseado */
  opacity: 0.2; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
    object-fit: cover;
    height: 300px;
}

.imgPaintOne {
  background-image: url(/img/paintings/1/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintTwo {
  background-image: url(/img/paintings/2/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintThree {
  background-image: url(/img/paintings/3/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintFour {
  background-image: url(/img/paintings/4/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintFive {
  background-image: url(/img/paintings/5/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintSix {
  background-image: url(/img/paintings/6/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintSeven {
  background-image: url(/img/paintings/7/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintEight {
  background-image: url(/img/paintings/8/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintNine {
  background-image: url(/img/paintings/9/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgPaintTeen {
  background-image: url(/img/paintings/10/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/*Candles*/


.image-containerCandles {
  position: relative;
}

.image-containerCandles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4578d1; /* Color deseado */
  opacity: 0.; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
}


.imgCarouselCandles {
  background-color: #4578d1; /* Color deseado */
  opacity: 0.2; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Coloca la capa de color detrás de la imagen */
    object-fit: cover;
    height: 300px;
}

.imgCandlesOne {
  background-image: url(/img/Candles/1/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesTwo {
  background-image: url(/img/Candles/2/2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesThree {
  background-image: url(/img/Candles/3/3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesFour {
  background-image: url(/img/Candles/4/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesFive {
  background-image: url(/img/Candles/5/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesSix {
  background-image: url(/img/Candles/6/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesSeven {
  background-image: url(/img/paintings/7/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesEight {
  background-image: url(/img/Candles/8/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesNine {
  background-image: url(/img/Candles/9/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesTeen {
  background-image: url(/img/Candles/10/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesEleven {
  background-image: url(/img/Candles/11/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

 .imgCandlesTwelve{
  background-image: url(/img/Candles/12/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.imgCandlesThirteen {
  background-image: url(/img/Candles/13/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

.imgCandlesFourteen {
  background-image: url(/img/Candles/14/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

.imgCandlesFifteen {  
  background-image: url(/img/Candles/15/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/* Carousel Shop */

.carouselShop img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}


/*Medias queries*/

@media (min-width:320px) and (max-width:520px) {
    #mainPages {
        margin-top: 95px;
    }
}

@media (min-width:521px) and (max-width:768px) {
    #mainPages {
        margin-top: 97px;
    }
}