  
  /*Precarga*/
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; /* Fondo del preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .preloader img {
    width: 100px; /* Ajusta el tamaño de la imagen */
  }
  
  /* Estilo adicional para ocultar el preloader cuando la página está lista */
  .loaded .preloader {
    display: none;
  }

  /* Global Classes */

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .b-green {
    background-color: #3AA756;
  }

  .b-red {
    background-color: #E8453C;
  }

  .b-yellow {
    background-color: #FABC2D;
  }

  .b-blue {
    background-color: #4578D1;
  }

  .footerTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }

  .footerLinks {
    text-decoration: none;
  }

  .footerLinks:hover, .footerLinks:focus {
    font-weight: 800;
  }

  .footerSvg {
    fill: #ffffff;
  }

  .footerSvg:hover, .footerSvg:focus {
    transform: scale(1.2);
    transition: all 0.5 ease-in-out;
  }
  
  
  /*Header*/
  
  /*Navbar */
  
  nav {
    position: fixed !important;
    top: 0;
    width: 100%; 
    z-index: 100; 
  }
  
   /*Transparencia del navbar al hacer scroll */
  
  #navbarOrigin.navbar-transparent {
    background-color: white !important; 
    box-shadow: 0px 5px 5px -2px #000;
  }

  nav img:hover, nav img:focus, footer img:hover, footer img:focus {
    transform: scale(1.1);
    transition: all 0.5 ease-in-out;
  }
  
  
  .logoArte {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 40px !important; 
    font-weight: lighter;
  }
  
   .pestañasMenu>li>a {
    text-decoration: none;
    font-family: 'raleway', sans serif;
    font-size: 30px;
    color: #222;
  }
  
  .menuShop>li>a {
    text-decoration: none;
    font-family: 'raleway', sans serif;
    font-size: 15px;
    font-weight: bolder;
    color: #222;
  }
  
  .menuShop>li>a.muralShop:hover, .menuShop>li>a.muralShop:focus {
    color: #3AA756;
    transition: all 0.3s ease-in-out;
  }
  
  .menuShop>li>a.ilusShop:hover, .menuShop>li>a.ilusShop:focus {
    color: #FABC2D;
    transition: all 0.3s ease-in-out;
  }
  
  .menuShop>li>a.paintShop:hover, .menuShop>li>a.paintShop:focus {
    color: #4578D1;
    transition: all 0.3s ease-in-out;
  }
  
  .menuShop>li>a.candlesShop:hover, .menuShop>li>a.candlesShop:focus {
    color: #E8453C;
    transition: all 0.3s ease-in-out;
  }
  
  
  .pestañasMenu>li>a.inicio:hover, .menuShop>li>a.muralShop:focus {
    color: #3AA756;
    transition: all 0.3s ease-in-out;
  }
  .pestañasMenu>li>a.shop:hover, .menuShop>li>a.muralShop:focus {
    color: #FABC2D;
    transition: all 0.3s ease-in-out;
  }
  .pestañasMenu>li>a.contact-us:hover, .menuShop>li>a.muralShop:focus {
    color: #4578D1;
    transition: all 0.3s ease-in-out;
  }
  .pestañasMenu>li>a.about:hover, .menuShop>li>a.muralShop:focus {
    color: #E8453C;
    transition: all 0.3s ease-in-out;
  }
  
  /*Fin navbar */
  
  /*Header*/
  
  /*Main*/
  
  /*Banner*/
  .imgBanner {
    background-attachment: fixed;
    background-image: url(/img/bannerMobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh !important
    
  }
  
  /*CajaTexto*/
  
  .boxText {
   width: 100% !important;
   padding: 50px 0px;
  }
  
  .boxText h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
  }
  
  .boxText p {
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #222;
  }
  
  /*Lema */
  
  #fraseArte {
  
    font-size: 30px;
    font-family: 'Jost', sans-serif;
  }
  
  #autorFrase {
    font-size: 17px !important;
    margin-top: -19px !important;
  }
  
  /*Sector categorias */
  
  /*Titulo categorias */
  
  .titleCat {
    border-bottom: solid;
    margin-bottom: 7px;
    border-image: linear-gradient(90deg, #3aa756 0%, #fabc2d 33%, #e8453c 66%, #4578d1 100%);
    border-image-slice: 1;
  }
  
  .titleCat h2{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-left: 9px;
    color: black;
  }
  
  /*Contenedor cat */

  .contentCat {
    height: 500px !important;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  .contentCat svg {
    fill: white;
  }
  
  .contentCat a {
    color: white;
    text-decoration: none;
  }

  .contentCat a:hover, .contentCat:focus {
    font-weight: 700;
  }
  
  /* Categorias */

  .boxCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .catMural {
    background-color: #3AA756;
  }
  
  .catIlus {
    background-color: #E8453C;
  }
  
  .catPaint {
    background-color: #FABC2D;
  }
  
  .catCandles {
    background-color: #4578D1;
  }

  /* Recent Projects */
  #recentProjects {
    position: relative;
  }

  .contenedor-grid i {
    color: white;
    font-size: 32px;
  }
  
  .contenedor-grid a {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    text-decoration: none;
    line-height: 56px;
    color: white;
  }
  
  .contenedor-grid a:hover {
    text-decoration: underline;
  }

  .cardSamples {
    height: 450px !important;
  }

  .iconoCard {
    margin-right: 7px;
  }

  .projectOne {
    background-image: url(/img/murals/1/027.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*informacion y redes*/
  
  #sectorInfo {
    background-color: rgb(240, 234, 234);
    height: 200px;
  }
  
  .redesInfo {
    margin-top: -15px;
  }
  
  .redesInfo a {
    font-style: none;
    font-weight: bold;
    text-decoration: none;
  }
  
  .fa-facebook-f {
    color: #0165E1;
  }
  
  .fa-instagram {
    color: #5851DB
  }
  
  .fa-pinterest-p {
    color: #E60023;
  }
  
  /*Media Queries*/
  
  /* Media min- 320px and max 768 px */
  
  @media (min-width:320px) and (max-width:768px) {
  
    /*Navbar*/
    nav {
      width: 100%; 
  }
  
   .imgLogo {
    height: 80px !important;
  }
  
   .logoArte {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 20px !important; 
    
  }
  
   .pestañasMenu>li>a {
    text-decoration: none;
    font-family: 'raleway', sans serif;
    font-size: 15px;
    color: #222;
  }
  
   .menuShop>li>a {
    text-decoration: none;
    font-family: 'raleway', sans serif;
    font-size: 10px;
    font-weight: bolder;
    color: #222;
  }
  
   /* End navbar*/
  
   /*Image banner*/
  
   .imgBanner {
    height: 400px !important;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
   /*CajaTexto*/
  
   .boxText h2 {
    font-size: 30px;
    font-family: 'Jost', sans-serif;
  }
  
  
   .boxText p {
    font-size: 16px;
  }
  
   /*Frases Aleatorias*/
  
   #fraseArte {
  
    font-size: 16px;
    font-family: 'Jost', sans-serif;
  }
  
  .boxCat {
    height: 300px !important;
  }
   
   .tituloCat h2{
    font-size: 25px;
    font-family: 'Jost', sans-serif;
  }
  
   /*Sector redes e informacion */
   .infoContacto {
     font-size: 20px;
     font-weight: bold;
     font-family: 'raleway', sans serif;
   }
  
   .redesInfo a{
   font-size: 15px;
   font-family: 'raleway', sans serif;
   color: black;  
  
   }
   .redesInfo i {
    font-size: 20px;
   }
  
  }
  
  
  
  /* Media querie for dispositives of 769 px and 1024 px*/
  
  /*Media Queries*/
  
@media (min-width:769px) and (max-width:1024px) {
  /*Navbar*/
  nav {
    width: 100%; 
  }
  
  .logoArte {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 25px !important; 
  }
  
   .pestañasMenu>li>a {
    text-decoration: none;
    font-family: 'raleway', sans serif;
    font-size: 20px;
    color: #222;
  }
  
  .menuShop>li>a {
    text-decoration: none;
    font-family: 'raleway', sans serif;
    font-size: 13px;
    font-weight: bolder;
    color: #222;
  }
  
  /* End navbar*/
  
  /*Image banner*/
  
  .imgBanner {
    height: 300px !important;
    margin-bottom: 180px;
    position: relative;
    bottom: -150px;
  }
  
  /* Frase */
  
  #fraseArte {
  
    font-size: 35px;
    font-family: 'Jost', sans-serif;
  }
  
  #autorFrase {
    font-size: 25px !important;
    margin-top: -19px !important;
  }
  
  }
  
  
  /* Media querie for dispositives of 1025 px and 1200 px*/
  
  @media (min-width:992px) and (max-width:1199px) {
  
    /*Imagen banner*/
    .imgBanner {
      height: 350px !important;
      margin-bottom: 180px;
      position: relative;
      bottom: -150px;
    }
  
    /*Texto primer sector*/
  
    .boxText h2 {
      font-size: 30px;
      font-family: 'Jost', sans-serif;
    }
    
    .boxText p {
      text-align: justify;
      font-family: 'raleway', sans serif;
      font-size: 25px;
      color: #222;
    }
  
    /*Frase texto */
  
    #fraseArte {
      font-size: 25px;
      font-family: 'Jost', sans-serif;
    }
    
    #autorFrase {
      font-size: 17px !important;
      margin-top: -19px !important;
    }
  
    /*Sector cat */
    .tituloCat h2{
      font-size: 30px;
      font-family: 'Jost', sans-serif;
      margin-left: 9px;
      color: black;
    }
  
    .contenedorCategorias {
      font-size: 20px;
    }
    
  }
  
  /* Media querie for breakpoint of 1200px in foward */
  
  @media (min-width:1200px) {
  
    /*Sector categorias */
  
   .catMural:hover{
    background-color: #2ecc55;
    background-image: url(../img/murales.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    transition: transform 0.5s;
  
  
   }
  
   .catCuadro:hover {
    background-color: #E8453C;
    background-image: url(../img/pinturas.jpg); 
    background-size:cover;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    transition: transform 0.5s;
  
  
   }
  
   .catIlus:hover {
    background-color: #FABC2D;
    background-image: url(../img/ilustraciones.jpg);  
    background-size: cover;
    transform: scale(1.1);
    transition: transform 0.5s;
   }
  
   .catTeacher:hover {
    background-color: #4578D1;
    background-image: url(../img/enseñanza.jpg);
    background-size: cover;
    transform: scale(1.1);
    transition: transform 0.5s;
   }
  
    .contenedorCategorias {
      font-size: 25px;
    }
  }